<html>
    <head>
    <title>GPT3consoleapp</title>
    </head> 
    <body>
    <h1>website1</h1>
    <p>"It's raining cats and dogs, but only the light ones!"</p> 
    <img src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-xNzktUYF7XRYjH2uWpTNKFVG/user-c7LHZTAa38qWuE2w9IHe6OY5/img-gSIKhGqmUMmFIRu8BDl3cIbM.png?st=2023-03-12T16%3A26%3A00Z&se=2023-03-12T18%3A26%3A00Z&sp=r&sv=2021-08-06&sr=b&rscd=inline&rsct=image/png&skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2023-03-12T06%3A05%3A18Z&ske=2023-03-13T06%3A05%3A18Z&sks=b&skv=2021-08-06&sig=cnV14Ieu1V5uH1LykRlxhGMeCc1Xx7eOBFllVNvGEDY%3D" alt="generated image goes here">
    <p>Actual temperature outside: 10.73*C</p>
    <p>What it feels like: 9.95*C</p>
    <p>Temperature range: 9.16*C -> 11.82*C</p>
    <p>Air pressure outside: 0.9918578830495929 times normal</p>
    <p>Humidity in the air: 80% of maximum</p>
    <p>Speed of the wind: 6.69m/s</p>
    <p>Direction it is going: 220* from the South</p>
    <p>Percentage of the sky covered with clouds: 100%</p>
    <p>{'coord': {'lon': -0.5954, 'lat': 51.5095}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'base': 'stations', 'main': {'temp': 10.73, 'feels_like': 9.95, 'temp_min': 9.16, 'temp_max': 11.82, 'pressure': 1005, 'humidity': 80}, 'visibility': 10000, 'wind': {'speed': 6.69, 'deg': 220}, 'rain': {'1h': 0.2}, 'clouds': {'all': 100}, 'dt': 1678641633, 'sys': {'type': 2, 'id': 2040729, 'country': 'GB', 'sunrise': 1678602259, 'sunset': 1678644021}, 'timezone': 0, 'id': 2637627, 'name': 'Slough', 'cod': 200}</p>
    </body>
    </html>